@font-face {
	font-family: Staatliches;
	src: url(../FONTS/Staatliches-Regular.ttf);
}
body {
	background-image: url("../ASSETS/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@keyframes showMenu {
	from {width: 0%;}
	to {width: 15%;}
}
@keyframes hideMenu {
	from {width: 15%;}
	to {width: 0%;}
}
@keyframes showMenuBT {
	from {opacity: : 0;}
	to {opacity: 1;}
}
@keyframes hideMenuBT {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes clickAddFilament{
	from {top: 90%;}
	to {top: 81%;}
}
@keyframes clickAddFilamentHide{
	from {top: 81%;}
	to {top: 90%;}
}
@keyframes clickAddPrinter{
	from {top: 90%;}
	to {top: 72%;}
}
@keyframes clickAddPrinterHide{
	from {top: 72%;}
	to {top: 90%;}
}
@keyframes clickAddInventory{
	from {top: 90%;}
	to {top: 63%;}
}
@keyframes clickAddInventoryHide{
	from {top: 63%;}
	to {top: 90%;}
}
@keyframes clickAddModel{
	from {top: 90%;}
	to {top: 54%;}
}
@keyframes clickAddModelHide{
	from {top: 54%;}
	to {top: 90%;}
}
@keyframes clickBTcalc{
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes showCalc{
	from {opacity: 0;}
	to {opacity: 1;}
}

#divMasterTop {
	background-color: #424242;
	margin-top: -21px;
	margin-left: -8px;
	margin-right: -8px;
	height: 60px;
	flex-wrap: wrap;
}
#H1Top {
	color: white;
	width: 200px;
	text-align: center;
	padding: 12px;
	font-family: Staatliches;
	position: relative;
	top: -74px;
	left: 38%;
}
#TopP1 {
	color: white;
	width: 190px;
	text-align: center;
	font-family: Staatliches;
	margin-left: 147px;
	position: relative;
	top: -134px;
	left: 41.5%;
}
#LeftMenu {
	height: 42px;
	font-family: Staatliches;
	color: white;
	text-align: center;
	background-color: transparent;
	border-color: white;
	font-size: 30px;
	width: 3%;
	margin-top: 15px;
	margin-left: 3px;
}
#Login {
	height: 42px;
	font-family: Staatliches;
	color: white;
	text-align: center;
	background-color: transparent;
	border-color: white;
	font-size: 30px;
	width: 6%;
	position: relative;
	top: -185px;
	left: 93.8%;
	border-radius: 45px;
}
.divMenuLeftPopUp {
	height: 100%;
	width: 15%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	animation-name: showMenu;
	animation-duration: 0.6s;
	flex-wrap: wrap;
}
.divMenuLeftPopBack {
	height: 100%;
	width: 15%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	animation-name: hideMenu;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	flex-wrap: wrap;
}
.divMenuLeftIdle {
	height: 100%;
	width: 0%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	flex-wrap: wrap;
}
.PrintersBTIdle {
	opacity: 0;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
}
.PrintersBTPopUp {
	opacity: 0;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
	animation-name: showMenuBT;
	animation-fill-mode: forwards;
	animation-duration: 0.6s;
}
.PrintersBTPopBack {
	opacity: 1;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
	animation-name: hideMenuBT;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.MainScreenFilament {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MainScreenPrinter {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MainScreenModels {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MainScreenInventory {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MainScreenFilamentHidden {
	opacity: 0;
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	animation-name: clickBTcalc;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.MainScreenPrinterHidden {
	opacity: 0;
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	animation-name: clickBTcalc;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.MainScreenModelsHidden {
	opacity: 0;
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	animation-name: clickBTcalc;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.MainScreenInventoryHidden {
	opacity: 0;
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	animation-name: clickBTcalc;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.MainScreenTitles {
	font-family: Staatliches;
	font-size: 32px;
	width: 210px;
	display: block;
	position: relative;
	color: white;
	top: 16px;
	left: 40%;
}
.MainScreenItems {
	opacity: 0.7;
	width: 254px;
	height: 255px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-grid;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AddFilamentBTPopUp {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: 1;

	animation-name: clickAddFilament;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddFilamentBTPopBack {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -1;

	animation-name: clickAddFilamentHide;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddFilamentIdle {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -1;
}
.AddPrinterBTPopUp {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: 21;

	animation-name: clickAddPrinter;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddPrinterBTPopBack {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;

	animation-name: clickAddPrinterHide;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddPrinterIdle {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;
}
.AddInventoryBTPopUp {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: 21;

	animation-name: clickAddInventory;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddInventoryBTPopBack {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;

	animation-name: clickAddInventoryHide;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddInventoryIdle {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;
}
.AddModelBTPopUp {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: 21;

	animation-name: clickAddModel;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddModelBTPopBack {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;

	animation-name: clickAddModelHide;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
.AddModelIdle {
	background-color: #424242;
	height: 80px;
	width: 80px;
	border-radius: 45px;
	position: fixed;
	top: 90%;
	left: 94%;
	z-index: -2;
}
.Calculator {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: 0px;
}
.CalculatorTitle {
	font-family: Staatliches;
	font-size: 32px;
	width: 210px;
	display: block;
	position: relative;
	color: white;
	top: 2px;
	left: 40%;
}
.CalculatorInfo {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: 0px;
}
.CalculatorInfoTitle {
	font-family: Staatliches;
	font-size: 32px;
	width: 270px;
	display: block;
	position: relative;
	color: white;
	top: 2px;
	left: 40%;
}
.CalculatorFilament {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: 0px;
}
.CalculatorFilamentTitle {
	font-family: Staatliches;
	font-size: 32px;
	width: 270px;
	display: block;
	position: relative;
	color: white;
	top: 2px;
	left: 40%;
}
.CalculatorEnergyTitle {
	font-family: Staatliches;
	font-size: 32px;
	width: 270px;
	display: block;
	position: relative;
	color: white;
	top: 2px;
	left: 40%;
}
.CalculatorEnergy {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: 0px;
}
.CalculatorWorkTitle {
	font-family: Staatliches;
	font-size: 32px;
	width: 270px;
	display: block;
	position: relative;
	color: white;
	top: 2px;
	left: 40%;
}
.CalculatorWork {
	width: 58%;
	height: 348px;
	background-color: #6d6d6d;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: 0px;
}
.CalculatorSelection {
	font-size: 17px;
}