@font-face {
	font-family: Staatliches;
	src: url(../FONTS/Staatliches-Regular.ttf);
}
body {
	background-image: url("../ASSETS/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@keyframes showMenu {
	from {width: 0%;}
	to {width: 15%;}
}
@keyframes hideMenu {
	from {width: 15%;}
	to {width: 0%;}
}
@keyframes showMenuBT {
	from {opacity: : 0;}
	to {opacity: 1;}
}
@keyframes hideMenuBT {
	from {opacity: 1;}
	to {opacity: 0;}
}
#divMasterTop {
	background-color: #424242;
	margin-top: -21px;
	margin-left: -8px;
	margin-right: -8px;
	height: 60px;
	flex-wrap: wrap;
}
#H1Top {
	color: white;
	width: 200px;
	text-align: center;
	padding: 12px;
	font-family: Staatliches;
	position: relative;
	top: -74px;
	left: 38%;
}
#TopP1 {
	color: white;
	width: 190px;
	text-align: center;
	font-family: Staatliches;
	margin-left: 147px;
	position: relative;
	top: -134px;
	left: 41.5%;
}
#LeftMenu {
	height: 42px;
	font-family: Staatliches;
	color: white;
	text-align: center;
	background-color: transparent;
	border-color: white;
	font-size: 30px;
	width: 3%;
	margin-top: 15px;
	margin-left: 3px;
}
#Login {
	height: 42px;
	font-family: Staatliches;
	color: white;
	text-align: center;
	background-color: transparent;
	border-color: white;
	font-size: 30px;
	width: 6%;
	position: relative;
	top: -185px;
	left: 93.8%;
	border-radius: 45px;
}
.divMenuLeftPopUp {
	height: 100%;
	width: 15%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	animation-name: showMenu;
	animation-duration: 0.6s;
	flex-wrap: wrap;
}
.divMenuLeftPopBack {
	height: 100%;
	width: 15%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	animation-name: hideMenu;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	flex-wrap: wrap;
}
.divMenuLeftIdle {
	height: 100%;
	width: 0%;
	margin-top: 3px;
	margin-left: -20px;
	background-color: #6d6d6d;
	border: 2px solid white;
	border-radius: 10px;
	position: fixed;
	flex-wrap: wrap;
}
.PrintersBTIdle {
	opacity: 0;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
}
.PrintersBTPopUp {
	opacity: 0;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
	animation-name: showMenuBT;
	animation-fill-mode: forwards;
	animation-duration: 0.6s;
}
.PrintersBTPopBack {
	opacity: 1;
	width: 89%;
	height: 60px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: Staatliches;
	font-size: 35px;
	border-radius: 35px;
	background-color: transparent;
	color: white;
	animation-name: hideMenuBT;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}
#MainScreenFilament {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
}
#MainScreenPrinter {
	width: 58%;
	height: 100%;
	background-color: #6d6d6d;
	margin: auto;
}
.MainScreenTitles {
	font-family: Staatliches;
	font-size: 32px;
	width: 210px;
	display: block;
	position: relative;
	color: white;
	top: 16px;
	left: 40%;
}
.MainScreenItems {
	opacity: 0.7;
	width: 254px;
	height: 255px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-grid;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
}
